<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>staff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D3765C3175D311F0090BB75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D3765E0175D31500090BB75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D7D54D1176A57E5000E091D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DCBFEAB175D03A6007C8F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DCBFECB175D03A7007C8F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
